label,
.btn {
    font-size: 18px;
}

label {
    margin-top: 10px;
}

p {
    font-size: 24px;
}

.btn {
    display: block;
    margin: 10px auto;
    width: 200px;
}

.create-account {
    height: 310px;
}

.total,
#transaction {
    display: none;
}